<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo| Add Task </title>
</head>
<body>
        <h1 align="center">Add Task Details</h1>    
        <form method="POST" action="">
            {% csrf_token %}

            <table align="center">
                <tr>
                    <td><label for="input1">Title:</label></td>
                    <td><input type="text" name="title" id="input1" required></td>                   
                </tr>

                <tr>
                    <td><label for="input2">Enter Task Details:</label></td>
                                       
                
                    <td>
                        <textarea name="det" id="input2" cols="30" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="input3">Due Date:</label></td>
                    <td><input type="date" name="duedt" id="input3" required></td>
                </tr>
                <tr>
                    <td><br>
                        <input type="submit" name="subbtn" value="add task">

                    </td>
                </tr>
            </table>
        </form>
</body>
</html>